<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
 
 
 <servlet>
 	<servlet-name>ShowUsers</servlet-name>
 	<servlet-class>com.advancedJava.firstServlet.webService.ShowUsers</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>ShowUsers</servlet-name>
 	<url-pattern>/showusers.do</url-pattern>
 </servlet-mapping>
 
  <servlet>
 	<servlet-name>FormService</servlet-name>
 	<servlet-class>com.advancedJava.firstServlet.webService.FormService</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>FormService</servlet-name>
 	<url-pattern>/hello.do</url-pattern>
 </servlet-mapping>
 
 
  <display-name>FirstServletJspProject</display-name>
  <welcome-file-list>
    <welcome-file>form.jsp</welcome-file>
  </welcome-file-list>
</web-app>